@import url('https://fonts.cdnfonts.com/css/avenir');


@font-face {
    font-family: avenirMed;
    src: url(AvenirMedium.ttf);
}

@font-face {
    font-family: avenirBook;
    src: url(AvenirBook.ttf);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------navbar----------------------------- */

.navbar {
    height: 100px;
}

.navbar-nav {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
}

.navbar-nav li {
    margin-right: 40px;

}

.navbar-nav a {
    white-space: nowrap;

}

.navbar-nav .nav-link.active {
    color: #41b6e6 !important;
    font-size: 15px;
    font-family: Avenir black;

}

.navbar-nav .nav-link.active:hover {
    color: #0072ce !important;
}

.search-icon {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-top: 85px;
    margin-right: 45px;
}

#search-image {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

#search-image:hover {
    content: url('./img/search_hover.png');
    cursor: pointer;
}


/* -------------------------banner------------------------ */
.carousel {
    position: relative;
    background: linear-gradient(to right, #0000008b, #00000000), url('./img/banner_1920_550.jpg') center/cover no-repeat;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 550px;
    color: #ffffff;
}

.tagline {
    margin-top: 150px;

}

.carousel article h2 {
    font-family: avenirMed;
    font-size: 42px;
    font-weight: 500;
}

.carousel article p {
    font-family: avenirMed;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;

}

/* --------------- */

.button-container {
    margin-top: 25px;

}

.button-container a {
    padding-right: 10px;

}

.learn-more-button {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-family: Avenir 'Times New Roman', Times, serif;
    border: #41b6e6 solid 1px;
    font-weight: 500;

}

.arrow {
    margin-left: 10px;
    width: 12px;
    height: 12px;
    vertical-align: center;

}

.learn-more-button::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #41b6e6;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
}

.circle-div {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 1px #ffffff;
    margin: 5px;
    cursor: pointer;
}

#circle3 {
    background-color: #41b6e6;
    border: none;

}

/* ---------------------------------menu-------------------------- */

.banner-menu {
    position: relative;
    background: url('./img/banner_Menu_1920_600.jpg') center/cover no-repeat;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 600px;
}

.banner-menu .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-menu .container h2,
p {
    text-align: start;
    margin-top: 80px;
}

.banner-menu .container h2 {
    font-family: avenirMed;
    font-size: 42px;
    font-weight: 500;
    color: #0072ce;
}

.banner-menu .container p {
    font-family: Avenir 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 20px;
    color: #231f20;

}

/* ------------ */

.button-container2 {
    margin-top: -5px;
    text-align: start;
}

.button-container2 a {
    padding-right: 10px;

}

.learn-more-button2 {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-family: Avenir 'Times New Roman', Times, serif;
    font-weight: 500;

}

.bordered-image {
    width: 12px;
    height: 12px;
    vertical-align: center;

}

.learn-more-button2 button {
    border: 1px solid #41b6e6;
    background: transparent;
    padding: 5px;
    margin-left: 15px;
    width: 30px;

}

/* -------------------------------------menu 1--------------------------------- */

.publication {
    position: absolute;
    top: 0;
    right: 28rem;
}

.publication img {
    width: 30px !important;
    height: 30px;

}

#btn-1 {
    margin-right: -7.5px;
}

#menu1 {
    margin-top: 70px;
}

#menu1 h2 {
    font-family: avenirMed;
    font-size: 42px;
    font-weight: 500;
    color: #0072ce;
}

#menu1 .container {
    position: relative;
    /* margin-left: -17px; */

    /* display: flex;
    justify-content: center;
    text-align: start; */
    /* border: 2px solid red; */
}


#menu1 article .lorem-page {
    margin-top: 40px;
    padding: 50px;
    margin-left: 30px;
    padding-bottom: 100px;
    background-color: #41b6e6;
    width: 700px;
    height: 577px;
}

#menu1 article .menu-div {
    display: contents;
}

#menu1 article .lorem-page p {
    margin-left: 30px;
}

#menu1 article .lorem-page img {
    margin-top: 70px;

}

.LoremImg {
    width: 198px;

}

#menu1 article {
    display: flex;
    justify-content: space-around;

}

.lorem-caption {
    margin-top: 120px;
    margin-left: -39px;
}

.lorem-h1 {
    color: #ffffff;
    font-family: avenirBook;
    font-size: 13px;
    text-transform: uppercase;
}

.lorem-p1 {
    font-family: avenirMed;
    font-size: 21px;
    color: #ffffff;
    /* text-align: justify; */
}

.lorem-p2 {
    font-family: avenirMed;
    font-size: 16px;
    color: #ffffff;
}

#menu1 article .lorem-page2 {
    margin-top: 40px;
    margin-left: -25px;
}

.lorem-text {
    background-color: #E6E7E8;
    width: 210px;
    height: 256px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -17px;

}

/* ---------------- */

.button-container4 {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-left: -25px;
}

.button-container4 a {
    color: #a5a4a4;
}

.learn-more-button4 {
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-family: Avenir 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #a5a4a4;

}

.learn-more-button4 button {
    border: 1px solid #41b6e6;
    background: transparent;
    padding: 3px;
    margin-left: 5px;
    background-color: #41b6e6;
    width: 25px;
}

.row .lorem-second {
    margin-top: 40px;
}

/* ---------- */

.button-container3 {
    margin-top: 50PX;
    margin-bottom: 70px;
}

.button-container3 a {
    padding-right: 0;
    color: #0072ce;
}

.learn-more-button3 {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    background: transparent;
    color: #0072ce;
    text-decoration: none;
    position: relative;
    font-size: 12px;
    font-family: Avenir 'Times New Roman', Times, serif;
    border: #0072ce solid 1px;
    font-weight: 500;

}

.arrow2 {
    margin-left: 10px;
    width: 35px;
    height: 15px;
    vertical-align: center;

}

.learn-more-button3::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #0072ce;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
}

/* ------------ */
.report-txt1 {
    font-size: 13px;
    color: #6d6e70;
    font-family: avenirBook;
}

.report-txt2 {
    font-size: 18px;
    color: #0072ce;
    font-family: avenirMed;
    text-align: start;
}

/* --------------------------------menu 2------------------------------------ */

#menu2 {
    background-color: #F1F1F2;
}
#menu2 .container-fluid{
    display: flex;
    justify-content: center;
   
}

#menu2 h2 {
    font-family: avenirMed;
    font-size: 42px;
    font-weight: 500;
    color: #0072ce;
    margin-bottom: 50px;
    padding-top: 70px;
}

.card-bo {
    background-color: #ffffff;
    height: 354px;
    width: 232px;

}

.menu2Img {
    width: 546px;
    height: 354px;

}

.card-img-t {
    width: 232px;
    height: 150px;
}

.card1 {
    color: #41b6e6;
    font-size: 13px;
    font-family: avenirBook;
    margin-top: 25px;
}
.card2{
    color: #6d6e70;
    font-size: 21px;
    font-family: avenirMed;
    margin-top: -5px;
}
#viewAll{
    margin-bottom: 70px;
}
.child-1{
    margin-right: 80px;
}